.list-container {
    width: 100%;
    height: 100%;
    min-height: 0;
    border-radius: 3px;
    background: white;
    
    
    .path-container {
        padding: 5px;
        border-bottom: 1px solid var(--secondary);
        flex-shrink: 0;
        h5 {
            margin: 0;
        }
    }
    .items-container {
        height: 100%;
        min-height: 0;
        position: relative;
        overflow-y: auto;
        .item {
            padding: 5px;
            display: flex;
            cursor: pointer;
            .item-icon {
                font-size: 16px;
            }
            .item-title {
                width: 100%;
            }
            &:hover {
                background: var(--secondary);
            }
            .item-size {
                flex-shrink: 0;
            }
        }
        .drag-prompt {
            position: absolute;
            display: none;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: var(--lighter);
            align-items: center;
            justify-content: center;
            .large-icon {
                font-size: 64px;
            }
        }

        &.dragged-over .drag-prompt {
            display: flex;
        }
    }
}
.info-container {
    width: 100%;
    border-radius: 3px;
    background: white;
}