:host{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
}

.spinner-container {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
}