/* You can add global styles to this file, and also import other style files */
body{
    user-select: none;
    height: 100vh;
    width: 100vw;
}


/* width */
::-webkit-scrollbar {
    width: 8px;
}
/* Track */
::-webkit-scrollbar-track {
    background-color: rgba(0,0,0,0.2);
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--gray);
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--gray);
}

.smooth-4{
    -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -moz-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -ms-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}


.smooth{
    -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    -moz-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    -ms-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.smooth-2{
    -webkit-transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    -moz-transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    -ms-transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.smooth-1{
    -webkit-transition: all 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
    -moz-transition: all 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
    -ms-transition: all 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: all 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.btn:focus, .btn:active, button:active {
    outline: none !important;
}

.flash {
    animation: 0.5s ease 0s 2 flash;
}

@keyframes flash {
	0% { opacity: 1; } 
	50% { opacity: .1; } 
	100% { opacity: 1; }
}