.center-align {
    display: flex;
    justify-content: center;
}

.welcome-contents {
    display: flex;
    position: relative;
    .actions {
        width: 40%;
        position: relative;
        .action {
            display: flex;
            align-items: center;
            width: 100%;
            margin-bottom: 20px;
            .action-icon {
                flex-shrink: 0;
                width: 48px;
                height: 48px;
                display: flex;
                box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
                border-radius: 50%;
                align-items: center;
                justify-content: center;
                font-size: 24px;
            }
            .action-text {
                width: 100%;
                text-align: left;
            }
        }
    }
    .histories {
        padding: 20px;
        position: relative;
        min-width: 0;
    }
}

.pluses {
    padding: 20px;
    width: 250px;
    float: left;
    border: 1.5px solid;
    border-top: 0;
    border-bottom: 0;
    border-left: 0;
    border-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, var(--lighter) 48%, rgba(255, 255, 255, 0) 100%);
    border-image-slice: 1;
}