:host{
    width: 100%;
    height: 100%;
    position: relative;
}

.side-nav-container {
    height: 100%;
    min-width: 30%;
    max-width: 70%;
    flex-shrink: 0;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.6);
}

.router-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.main-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

// router-outlet {
//     width: 100%;
//     height: 100%;
//     flex-shrink: 0;
//     min-height: 0;
// }

/deep/ router-outlet~* {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: auto;
}