:host {
    width: 100%;
    height: 100%;
}

.page-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    .page-contents {
        height: 100%;
        position: relative;
        min-height: 0;
    }
    .page-header-overlay {
        width: 100%;
        position: absolute;
        height: 25%;
    }
}
.side-header-container {
    width: 100%;
    position: relative;
    padding: 10px 30px;
    display:flex;
    flex-shrink: 0;
    justify-content: flex-end;
    &.left{
        justify-content: flex-start;
    }
    .settings-icon {
        font-size: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        cursor: pointer;
        position: relative;
        margin-right: 10px;
        .badge {
            position: absolute;
            top: 5px;
            left: 5px;
            border-radius: 50%;
            width: 18px;
            height: 18px;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 26px;
        }
        &:hover {
            background-color: var(--lighter);
        }
    }
}